body {
    color: #444444;
}

.section-view {
    width: 100%;
    height: 80vh;
    background: #f9f9f9;
}

.section-view .container {
    padding-top: 84px;
}

.section-view h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase;
}

.section-view h2 {
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.section-view .btn-get-started {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 25px;
    color: #fff;
    background: #49b5e7;
    text-transform: uppercase;
}

.section-view .btn-get-started:hover {
    background: #76c7ed;
}

@media (max-width: 991px) {
    .section-view {
        height: 100vh;
        text-align: center;
    }

    .section-view .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .section-view h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .section-view h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section-view .hero-img img {
        width: 80%;
    }
}